body {
  margin: 0;
}
* {
  color: #151515;
  font-family:'Lato','Montserrat','Roboto', sans-serif;
}

body {
  background-color: #FABC2A;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.results {
   background-color: #F5F5F5;
   max-width: 800px;
   padding: 25px 50px;
   font-size: 18px;
   box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
   display: flex;
   border-radius: 5px;
   margin: 20px 0;
}
.app {
  background-color: #F5F5F5;
  max-width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}
.start {
  
  background-color: #F5F5F5;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);

}

@media screen and (max-width: 560px) {

  .app {
    width: 300px;
  }
  .results {
    padding: 20px;
    max-width: 400px;
    
  }
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 100%
}

.question-count span {
  font-size: 250%;
}

.question-text {
  margin-bottom: 20px;
  font-size: 125%;
}


/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button {
  width: 100%;
  font-size: 100%;
  display: flex;
  padding: 5px;
  align-items: center;
  margin-bottom: 10px;
}
.button:hover {
  background-color: #ffcd5a;
  transition-delay: 0.09s;
}
.radio {
  margin-left: 20px;
}
.prev {
  float: left;
  margin-top: 10px;
}
.next {
  float: right;
  margin-top: 10px;
  
}


